/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
@import "/home/deuce/.config/awesome/theme/rofi/arc_dark_transparent_colors.rasi"
// @import "/home/deuce/.config/awesome/themes/sidebar.rasi"
