[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Java Fix
Comment=
Exec=/home/deuce/.local/bin/javafix
TryExec=/home/deuce/.local/bin/javafix
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
