[Desktop Entry]
Name=LED_Keyboard_Lights
GenericName=LED Keyboard Lights
Comment= Keyboard Lights on Startup
Categories=System;Settings;Utility;
Exec=xset led 3
Icon=dialog-scripts
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
